@model List<Team>
@{
    ViewData["Title"] = "Index";
}
<div>
    <a asp-action="create" asp-controller="team" class="btn btn-success">Create</a>
</div>
<table class="table">
  <thead>
    <tr>
       <th scope="col">FullName</th>
       <th scope="col">Image</th>
       <th scope="col">Title</th>
       <th scope="col">Permishion</th>
    </tr>
  </thead>
        
  <tbody>
  @foreach (var item in Model)
    {
    <tr>
      <th>@item.FullName</th>
      <td>
      <img style="width:100px" src="~/uploads/teams/@item.Image">
      </td>
      <td>@item.Title</td>
      <td>@item.RedirectUrl</td>
      <td>
           <a asp-action="update" asp-controller="team" asp-route-id="@item.Id" class="btn btn-info">Update</a>
                    <a asp-action="delete" asp-controller="team" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
      </td>
        </tr>
    }
    </tbody>
</table>
